/* universal styles */

/* header */
header {
    background-color: black;
    color: white;
}

/* nav */
nav {
    border-right: 1px solid black;
}

.navbar {
    min-width: 151px;
    min-height: calc(100vh - 100px)
}