@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');

/* universal styles */
body {
    font-family: 'Kanit';
}

/* header */
header {
    background-color: black;
    color: white;
}

/* nav */
nav {
    border-right: 1px solid black;
}

.navbar {
    min-width: 175px;
    min-height: calc(100vh - 100px)
}