:root {
    --radio-btn-diameter: 24px;
    --selected-btn-diameter: calc(var(--radio-btn-diameter) * 0.75);
}

.radio-btn-container {
    margin-top: 16px;
    cursor: pointer;
}

.radio-btn-container .label{
    margin: 4px 0 4px 8px;
}

.radio-btn-container .radio-btn {
    width: var(--radio-btn-diameter);
    height: var(--radio-btn-diameter);
    background: #fff;
    border-radius: 50%;
    border-color: var(--blue);
    border-width: 1px;
    position: relative;
}

.radio-btn-container .radio-btn.selected::after {
    width: var(--selected-btn-diameter);
    height: var(--selected-btn-diameter);
    display: block;
    border-radius: 50%;
    content: '';
    border-width: 5px;
    border-color: var(--blue);
    position: absolute;
    top: 2px;
    left: 2px;
}