.hero h1 {
    font-size: 55px;
    line-height: 50px;
    margin-top: -15px;
}

.hero .text-container {
    max-width: 225px;
    width: 100%;
}

.hero .img-container {
    width: calc(100% - 225px);/* 100% minus width of text-container */
    max-width: 500px;
    min-width: 400px;
}

.text {
    background-color: var(--light-gray);
    padding: 20px;
}

.text .text-container {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text .text-container p {
    font-size: 20px;
    max-width: 525px;
}
.text .text-container p:nth-of-type(2) {
    align-self: flex-end;
    text-align: right;
}

.text .text-container p:not(:last-of-type) {
    margin-bottom: 20px;
}

.list h2 {
    margin-bottom: 32px;
}

.list ul {
    margin-left: 28px;
    list-style-type: disc;
}

.list ul li:not(:last-of-type) {
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .hero .img-container {
        width: 100%;
        max-width: 450px;
        min-width: unset;
    }

    .hero .text-container {
        max-width: unset;
        width: 100%;
        justify-content: center;
    }

    .text .text-container p:nth-of-type(2) {
        align-self: flex-start;
        text-align: left;
    }
    
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 45px;
        line-height: 40px;
    }

    .text .text-container p {
        font-size: 16px;
    }
}