.hero h1 {
    font-size: 55px;
    line-height: 50px;
    margin-top: -15px;
}

.hero .text-container {
    max-width: 225px;
    width: 100%;
}

.hero .img-container {
    width: calc(100% - 225px);/* 100% minus width of text-container */
    max-width: 500px;
    min-width: 400px;
}


@media screen and (max-width: 767px) {
    .hero .img-container {
        width: 100%;
        max-width: 450px;
        min-width: unset;
    }

    .hero .text-container {
        max-width: unset;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 45px;
        line-height: 40px;
    }
}