.app-table,
.app-table tbody.body {
    height: 100%;
}

.app-table .no-jobs-tracked {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.app-table .no-jobs-tracked p {
    text-align: center;
}

.app-table .no-jobs-tracked h1 {
    font-size: 24px;
}

.app-table .stage {
    min-width: 120px;
    max-width: 120px
}

.app-table .dropdown {
    margin-left: -.5rem;
}

.app-table th {
    display: flex;
}

.app-table .section-titles {
    background-color: var(--gray);
}

.app-table .section-titles .title {
    width: 100%;
    text-align: left;
    font-weight: 500;
    padding: 0 4px;
}

.app-table .date-added {
    max-width: 64px;
}

.app-table .location,
.app-table .ATS-score {
    max-width: 80px;
}

.app-table .page-counter-wrap,
.app-table .page-counter-wrap .pages-counter,
.app-table .page-counter-wrap .page-buttons {
    display: flex;
}

.app-table .page-counter-wrap,
.app-table .page-counter-wrap .page-buttons {
    justify-content: center;
    align-items: center;
}

.app-table .spacer {
    max-width: 30px;
}

.app-table .loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

@media screen and (max-width: 1240px) {
    .app-table .ATS-score {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .app-table .location {
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .app-table .date-added {
        display: none;
    }
}