.app-table .stage {
    min-width: 120px;
    max-width: 120px
}

.app-table th {
    display: flex;
}

.app-table .section-titles {
    background-color: var(--gray);
}

.app-table .section-titles .title {
    width: 100%;
    text-align: left;
    font-weight: 500;
    padding: 0 4px;
}

.app-table .spacer,
.app-table .date-added {
    max-width: 64px;
}

.app-table .location,
.app-table .ATS-score {
    max-width: 80px;
}