table .stage {
    min-width: 120px;
    max-width: 120px
}

table th {
    display: flex;
}

table .section-titles {
    background-color: var(--gray);
}

table .section-titles .title {
    width: 100%;
    text-align: left;
    font-weight: 500;
    padding: 0 4px;
}

table .spacer,
table .date-added {
    max-width: 64px;
}

table .location,
table .ATS-score {
    max-width: 80px;
}