.single-app .job-info {
    width: 100%;
    max-width: 66%;
}
.single-app .job-info h1 {
    font-size: 32px;
    line-height:1;
    font-weight: 700;
}
.single-app .job-info h2 {
    line-height:1;
    font-size: 25px;
    margin-bottom: 15px;
}
.single-app .job-info .company  {
    margin-left: 15px;
    font-size: 22px;
    color: var(--text-gray);
    margin-bottom: 15px;
}
.single-app .job-info .desc-container {
    max-height: 375px;
    overflow-y: hidden;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    padding: 10px;
}

.single-app .job-info .desc-container.active {
    max-height: unset;
}

.single-app .job-info .seeMore {
    cursor: pointer;
    padding-top: 15px;
    text-align: right;
}

.single-app .job-details-container {
    width: 100%;
    max-width: 30%;
    margin-left: 4%;
}

.single-app .job-details-container .delete-btn,
.single-app .job-details-container .edit-btn {
    width: 100%;
    max-width: 32px;
    cursor: pointer;
}
.single-app .job-details-container .delete-btn{
    margin-right:  24px;
}

.single-app .job-details-container .details h4{
    margin-bottom: 10px;
}