.app-item-outer {
    width: 100%;
    border: 1px solid var(--gray)
}

.app-item-outer .item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.app-item-outer .item p {
    font-size: 14px;
}

.app-item-outer .spacer a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-item-outer .plus-icon {
    width: 10px;
}