.app-item-outer {
    width: 100%;
    border: 1px solid var(--gray)
}

.app-item-outer .item {
    width: 100%;
    display: flex;
    align-items: center;
}

.app-item-outer .item p {
    font-size: 14px;
}