.dashboard .preparing .date-added,
.dashboard .preparing .location,
.dashboard .preparing .ATS-score {
    display: none;
}

.dashboard .preparing .spacer {
    max-width: 36px;
}

.dashboard .preparing tbody {
    max-height: 140px;
    overflow-y: scroll;
}

.dashboard .preparing tbody tr, 
.dashboard .preparing thead tr {
    padding-right: 16px;
}