button[type='button'],button[type='submit'] {
    background-color: #fff;
    color: #55AEE0;
    border-radius: 22px;
    max-height: 65px;
    max-width: 190px;
}

button[type='button'].blue, button[type='submit'].blue  {
    background-color: #55AEE0;
    color: #fff;
}