.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
}
  
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.modal {
    width: 800px;
    min-height: 500px;
    max-width: 95%;
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal .close-btn {
    cursor: pointer;
}

.modal .stage-select-container {
    border: 1px solid rgb(209 213 219)
}

@media screen and (max-width: 830px) {
    .modal .modal-content {
        flex-direction: column;
    }

    .modal .modal-content .top-details {
        display: flex;
        flex-wrap: wrap;
    }

    .modal .modal-content .top-details .item {
        width: 100%;
    }

    .modal .modal-content .top-details .item label {
        margin: 0;
    }
    .modal .modal-content .top-details .item input {
        width: 100%;
    }

    .modal .modal-content .job-description {
        margin-bottom: 0.75rem;
    }

    .modal .modal-content .details-container {
        flex-direction: row;
    }

    .modal .modal-content .details-container .date-applied { display: none; }

    .modal .modal-content .details-container .detail-row {
        width: 49%;
        display: flex;
        flex-direction: column;
    }

    .modal .modal-content .details-container .detail-row:nth-child(2) {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 565px) {
    .modal .modal-content .details-container {
        flex-direction: column;
    }

    .modal .modal-content .details-container .detail-row {
        width: 100%;
    }
    .modal .modal-content .details-container .detail-row:nth-child(2) {
        margin-left: 0;
    }
}