.login, .signup {
    max-width: 350px;
    width: 100%;
}
.login h2, .signup h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.login form {
    max-height: 258px;
    height: 100%;
}
.signup button {
    margin: 15px 0;
}

.login button {
    margin-top: auto;
}