.applied {
    display: flex;
    flex-direction: column;
}

.applied .table-container {
    width: 100%;
    display: flex;
    border-radius: 4px;
    border-color: #e5e7eb;
    border-bottom-width: 1px;
}

.applied table {
    border-color: #e5e7eb;
    width: 100%;
}

.applied table thead{
    background-color: #f9fafb;
    width: 100%;
}

.applied table tbody {
    background-color: #fff;
    border-color: #e5e7eb;
}

.applied table thead tr th {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: #6b7280;
    letter-spacing: 1px;
}

.applied table thead tr th,
.applied table tbody tr td {
    font-size: 14px;
    padding: 12px 24px;
}

.mobile-table {
    display:none;
}

@media screen and (max-width: 767px) {
    .applied .table-container {
        display: none;
    }

    .applied .mobile-table {
        display: block;
    }

    .applied .job-item {
        border: 1px solid var(--light-gray);
        border-radius: 4px;
        margin-bottom: 16px;
        background-color: #fff;
    }

    .applied .job-item .top-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        width: 100%;
        background-color: var(--light-blue);
        padding: 8px 16px;
        border-radius: 4px 4px 0 0;
        line-height: 1.1;
    }
    
    .applied .job-item .top-container .text p.title {
        font-size: 18px;
    }
    .applied .job-item .top-container .text p.company {
        font-size: 14px;
        color: #6b7280;
    }
    .applied .job-item .top-container .badge-container {
        max-height: 20px;
    }

    .applied .job-item .bottom-container{
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
    }
    .applied .job-item .bottom-container .text p span {
        color: #6b7280;
    }

    .applied .job-item .bottom-container a {
        display:flex;
    }
}