.questions ul li .li-content {
    min-height: 48px;
    width: 100%;
}

.questions ul li .li-content p {
    width: 85%;
}

.questions ul li .li-content .buttons {
    width: 15%;
    max-width: 65px;
    min-width: 50px;
}

.questions ul li .li-content .buttons button{
    width: 50%;
}