.form {
    background-color: var(--light-blue);
    border-radius: 25px;
}

.tracker button {
    font-size: 22px;
    width: auto;
    margin-left: auto;
}

.tracker label {
    padding-left: .5em;
}