.tracker .form {
    background-color: var(--light-blue);
    border-radius: 12px;
    width: 100%;
}
.tracker button {
    font-size: 22px;
    width: auto;
    margin-left: auto;
}
.tracker label {
    padding-left: .5em;
}
.tracker .how-to {
    margin-right: 75px;
    width: 65%;
}
.tracker h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.tracker .use-list-container {
    border: 1px solid #888989;
    border-radius: 15px;
}
.tracker .use-list-container .use-tip {
    padding: 22px;
}
.tracker .use-list-container .use-tip:nth-of-type(even) {
    background-color: var(--light-blue);
}
.tracker .use-list-container .use-tip:nth-of-type(odd) {
    background-color: var(--gray);
}
.tracker .use-list-container .use-tip:nth-of-type(1) {
    border-radius: 15px 15px 0 0;
}
.tracker .use-list-container .use-tip:last-of-type {
    border-radius: 0 0 15px 15px;
}
.tracker .use-list-container .use-tip h2 {
    font-size: 25px;
}

.tracker .form-container {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    .tracker .flex {
        flex-direction: column;
    }
    .tracker .form-container {
        order: 1;
    }
    .tracker .form-container h1 {
        display: block;
        text-align: center;
    }
    .tracker .how-to {
        order: 2;
        margin-right: 0;
        margin-top: 30px;
        width: 100%;
    }
    .tracker h1 {
        font-size: 35px;
    }
    .tracker .use-list-container {
        max-width: 75%;
        margin: 0 auto;
    }
    .tracker .use-list-container .use-tip h2 {
        font-size: 25px;
    }
}